/******************************************************** 
header
********************************************************/

/******************************************************** 
navigation
********************************************************/
nav
{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    overflow: hidden;
    margin: 0 0 5px 0;
}

nav ul
{
    list-style: none;
    margin: 0; 
    padding: 10px 0;
}

nav li
{
    display: inline-block;
    padding: 15px 20px;
}

nav a:hover
{
    color: #eea2a4;
    text-decoration: none;
}

nav a
{
    color: black;
}

/******************************************************** 
footer
********************************************************/

/******************************************************** 
home page
********************************************************/
#homeSectionWrapper
{
    /*background-color: #F9F9F9;*/
    font-family: 'Open Sans', sans-serif;
    margin-right: 15px;
    margin-left: 15px;
}

#homeWrapper
{
    padding-bottom: 25px;
}

.profilePhoto
{
    float: left;
    display: block;
    max-width: 250px;
    margin: 0px 15px 0 15px;
    border-radius: 4%; /*gives the picture rounded corners*/
}

/******************************************************** 
projects page
********************************************************/

/******************************************************** 
passions page
********************************************************/
#passionsWrapper
{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1%;
}

img
{
    max-width: 100%;
}

#gallery
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li
{
    float: left;
    width: 24%;
    margin: .5%;
    
}

/******************************************************** 
resume page
********************************************************/

/******************************************************** 
contact page
********************************************************/
#contactSectionWrapper
{
    /*background-color: #F9F9F9;*/
    font-family: 'Oxygen';
    margin: 15px;
    text-align: center;
}

#contactInnerSectionWrapper
{
    background-image: url('../Pictures/ContactBackground.jpg');
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

h2
{
    font-size: 1.75em;
    font-weight: normal;
    padding-bottom: 5px;
}

h3
{
    font-size: 1.25em;
    font-weight: normal;
}

h4
{
    font-size: 1.25em;
    font-weight: normal;
    display: block;
}

/******************************************************** 
relevant colors: #84a869 (green) & #eea2a4 (pink)
********************************************************/